*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face {
    font-family: 'Quicksand';
    src: url("../typo/Quicksand-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Quicksand Light';
    src: url("../typo/Quicksand-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url("../typo/Quicksand-Bold.otf") format("opentype");
}

.wrapper-portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    font-family: Quicksand Light;
}

.wrapper-presentation {
    width: 100%;
    height: 350vh;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    font-size: 3em;
    color:black;
    position: fixed;
    float: left;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    z-index: 3;
    opacity: 1;
}

.forme01{
    width: 40%;
    position: fixed;
    top: 50%;
    left: 39.5%;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 1;
}

.forme02{
    position: fixed;
    width: 30%;
    opacity: 1;
    z-index: 1;
    top: 20%;
    left: 50%;
    overflow: visible;
    display: none;
}

.forme03{
    position: fixed;
    width: 40%;
    overflow: visible;
    z-index: 4;
    top: 0%;
    left: 0%;
}

.forme04{
    position: fixed;
    width: 40%;
    z-index: 1;
    bottom: 0%;
    right: 0%;
}

h2{
    font-size: 2em;
    font-family: Quicksand Light;
}

.presentation{
    position: fixed;
    top: 50%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: black;
    opacity: 0;
    display: none;
}

.connaissancesPro {
    font-family: Quicksand Light;
    font-size: 1.3em;
    font-weight: 600;
    text-justify: inter-word;
}

.connaissancesLog {
    font-family: Quicksand;
    font-size: 1em;
    padding-bottom: 5px;
}

.allProjets{
    display: none;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50 0 50;
    height: 100vh;
    justify-content: space-around;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    position: fixed;
    z-index: 5;
}

.allProjets::-webkit-scrollbar { 
    display: none;
}
.projet{
    width: 25%;
    height: 30%;
    overflow: hidden;
    text-align: center;
}

.imgClick{
    width: 90%;
    object-fit: cover;
    height: 70%;
    border-radius: 10px;
    transition: transform .2s;
}

.imgProjet{
    height: 100%;
}

.imgClick:hover{
    transform: scale(1.05);
    cursor: pointer;
}

h3{
    padding: 30px 0px 10px 0px;
    margin: auto;
}

.wrapper-contact{
    position: fixed;
    top: 50%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    opacity: 0;
}


.contact{
    font-size: 1.5em ;
    padding: 20px;
    font-weight: 600;
}